<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Loader</title>
  <meta
    name="keywords"
    content="yfill,series,loader,amd,umd,script"
  />
  <meta
    name="description"
    content="A loader that loads modules asynchronously on demand"
  />
  <script src="https://yfill.cn/docs/common/js/head.js"></script>
  <script>var repository = 'https://github.com/Yfill/loader';</script>
  <script>Theme.run({ mode: 'dark' });</script>
  <script src="./dist/index.js"></script>
</head>

<body
  background-color-0
  font-color-0
>
  <script src="https://yfill.cn/docs/common/js/body.js"></script>
  <h2>Example effect</h2>
  <style>
    .people-group {
      display: flex;
      align-items: center;
    }

    .people {
      border-width: 1px;
      border-style: solid;
      padding: 10px 20px;
      border-radius: 6px;
      margin: 0 20px 20px 0;
      cursor: move;
      user-select: none;
    }
  </style>
  <div id="template">
    <h3>Vue-multiselect</h3>
    <multiselect
      v-model="value"
      :options="options"
    ></multiselect>
    <h3>Vue.Draggable(dragging: {{drag}})</h3>
    <vue-draggable
      v-model="myArray"
      group="people"
      class="people-group"
      @start="drag=true"
      @end="drag=false"
    >
      <div
        class="people"
        v-for="element in myArray"
        border-color-0
        :key="element.id"
      >{{element.name}}</div>
    </vue-draggable>
  </div>
  <script>
    var loader = Loader.create({
      libAliasMap: {
        'vue-multiselect': [
          'vue-multiselect/dist/vue-multiselect.min.js', 
          'vue-multiselect/dist/vue-multiselect.min.css'
        ]
      }
    });
    var loadCom = loader.vueComponentLoad;
    loader('vue').then(function (Vue) {
      Vue.use(loader);
      new Vue({
        components: {
          Multiselect: loadCom('vue-multiselect'),
          VueDraggable: loadCom('vuedraggable')
        },
        data() {
          return {
            drag: false,
            value: null,
            options: ['list', 'of', 'options'],
            myArray: [
              { id: '1', name: 'Tom' },
              { id: '2', name: 'Jerry' },
              { id: '3', name: 'Carry' },
            ]
          }
        },
        async created() {
          const dayjs = await this.$loader('dayjs');
          console.log(dayjs().toString());
        }
      }).$mount('#template');
    })
  </script>
</body>

</html>